// .imgBackground {
//   background-color: #87878740;
//   box-sizing: border-box;
// }

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  margin-top: 5px;
  & p {
    margin: 0;
  }
}
.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 23.12px;
}
.price {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.card {
  width: 370px;
  border-radius: 4px;
  & img {
    -webkit-filter: brightness(100%);
  }
  &:hover {
    cursor: pointer;
    & > img {
      -webkit-filter: brightness(85%);
      will-change: transition;
      transition: all 2s ease;
    }
    & .title {
      text-decoration: underline;
      // transition: text-decoration 3s ease;
    }
  }
}
