.wrapper {
  padding: 21px 0;
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  // display: flex;
  // justify-content: space-between;
  align-items: center;

  & > button {
    border: none;
    background-color: inherit;
    width: 59px;
    height: 20px;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.23px;
    color: #b2b5bb;
    &:hover {
      cursor: pointer;
      color: #444b58;
      text-decoration: underline;
    }
  }
}

.productInfo {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 23.12px;
  color: #444b58;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 27px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    & > p {
      margin: 0;
      text-decoration: none;
    }
  }
  // & > img {
  //   width: 100px;
  //   height: 57px;
  //   &:hover {
  //     cursor: pointer;
  //   }
  // }
  & > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26.01px;
  }
}

.imageWrapper {
  width: 100px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  // overflow: hidden;
  & > img {
    width: 100%;
    height: auto;
    //  height: 57px;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 780px) {
  .wrapper {
    padding: 5px 0;
  }
  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #444b58;
    & > div {
      margin-right: 0;
    }
    & > p {
      margin-top: 40px;
      font-size: 18px;
      font-weight: 400;
      line-height: 26.01px;
    }
  }
  .imageWrapper {
    width: 100px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    // overflow: hidden;
    & > img {
      display: block;
      max-height: 100%;
      width: auto;

      //  height: 57px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 440px) {
  .wrapper {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 30px;
    & > button {
      margin: 0;
      padding: 0;
      padding-top: 15px;
    }
  }
  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
