.wrapper {
  display: flex;
  gap: 53px;
  justify-content: space-between;
  // height: calc(100vh - 385px);
  margin-top: 54px;
  padding-bottom: 307px;
}
.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 43.35px;
  margin-top: 55px;
}
.cart {
  padding: 30px 39px 31px 45px;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 779px;
  height: max-content;
  box-sizing: border-box;
}
.cash {
  text-align: right;
  height: max-content;
  & > p {
    margin: 0;
  }
}

.count {
  padding-top: 32px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.9px;
  color: #b2b5bb;
  & > span:nth-child(2) {
    color: #444b58;
    margin-left: 5px;
  }
}
.price {
  padding-top: 42px;
  padding-right: 5px;

  font-size: 20px;
  font-weight: 600;
  line-height: 28.9px;

  color: #b2b5bb;
  & > span:nth-child(2) {
    color: #444b58;
    font-weight: 700;
    margin-left: 5px;
  }
}
.total {
  padding-top: 3px;
  padding-right: 6px;

  font-size: 24px;
  font-weight: 600;
  line-height: 34.68px;

  color: #b2b5bb;
  & > span:nth-child(2) {
    color: #444b58;
    font-weight: 700;
    margin-left: 3px;
  }
}

@media (max-width: 1180px) {
  .wrapper {
    margin-left: 10px;
    height: 100vh;
    margin-bottom: 80px;
  }
  .title {
    margin-left: 10px;
  }
  .cart {
    padding: 20px;
  }
  .cash {
    margin-right: 10px;
  }
  .count {
    padding-top: 20px;
  }
  .price {
    padding-top: 32px;
    padding-right: 5px;

    & > span:nth-child(2) {
      display: block;
    }
  }
  .total {
    & > span:nth-child(2) {
      display: block;
    }
  }
}

@media (max-width: 780px) {
  .wrapper {
    margin-left: 10px;
  }
  .title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 35px;
  }
  .cart {
    padding: 20px;
  }
  .cash {
    margin-right: 10px;
  }
  .count {
    padding-top: 20px;
    font-size: 16px;
  }
  .price {
    padding-top: 32px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 20px;
    & > span:nth-child(2) {
      display: block;
      font-size: 16px;
    }
  }
  .total {
    font-size: 16px;
    line-height: 20px;
    & > span:nth-child(2) {
      display: block;
      font-size: 16px;
    }
  }
}
@media (max-width: 680px) {
  .wrapper {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
  }
  .title {
    margin-left: 10px;
  }
  .cart {
    padding: 15px;

    width: 95vw;
    height: max-content;
    box-sizing: border-box;
  }
  .cash {
    margin-right: 10px;
  }
  .count {
    padding-top: 20px;
    font-size: 16px;
  }
  .price {
    padding-top: 32px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 20px;
    & > span:nth-child(2) {
      display: block;
      font-size: 16px;
    }
  }
  .total {
    font-size: 16px;
    line-height: 20px;
    & > span:nth-child(2) {
      display: block;
      font-size: 16px;
    }
  }
}

@media (max-width: 530px) {
  .wrapper {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    display: block;
    padding-bottom: 700px;
  }
  .title {
    margin-left: 10px;
  }
  .cart {
    padding: 15px;
    margin: 0 auto;
    width: 85vw;
    height: max-content;
    box-sizing: border-box;
  }
  .cash {
    margin-right: 10px;
    padding-bottom: 207px;
  }
  .count {
    padding-top: 20px;
    font-size: 16px;
  }
  .price {
    padding-top: 32px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 20px;
    & > span:nth-child(2) {
      display: block;
      font-size: 16px;
    }
  }
  .total {
    font-size: 16px;
    line-height: 20px;
    & > span:nth-child(2) {
      display: block;
      font-size: 16px;
    }
  }
}
