.wrapper {
  background-color: #484283;
  height: 445px;
  color: #ffffff;
  margin-top: 60px;
}
.container {
  width: 880px;
  margin: 0 auto;
}
.title {
  margin: 0;
  padding-top: 35px;
}
.row {
  position: relative;
  border-bottom: 1px solid #ffffff;
}
.question {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.question:hover {
  background-color: #ccc;
}

// .question::after {
//   flex-shrink: 0;
//   width: 1.25rem;
//   height: 1.25rem;
//   margin-left: auto;
//   // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
//   // background-repeat: no-repeat;
//   // background-size: 1.25rem;
//   content: "";
// }
.answer {
  padding: 0 18px;
  // background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: none;
}

.answer.open {
  max-height: 100vh;
  display: flex;
}

.btn {
  background-color: inherit;
  border: none;
}

// .row:not(.itc-accordion-item-show) .answer {
//   display: none;
// }
