.wrapper {
  background-color: #444b58;
  height: 80px;
  color: #ffffff;
  display: flex;
  align-items: center;
  min-width: 1181px;
  width: 100vw;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & ul {
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 33px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20.23px;
    & li:hover {
    }
  }
  & a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #c4c4c4;
      text-decoration: underline;
    }
  }
}
.logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 43.35px;
  padding-left: 1px;
  &:hover {
    cursor: pointer;
    & > a {
      text-decoration: none;
      color: inherit;
    }
  }
}
@media (max-width: 1180px) {
  .wrapper {
    min-width: 100vw;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 26px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 321px) {
  .footer {
    min-width: 90vw;
    padding-top: 14px;
    padding-bottom: 26px;
    padding-left: 10px;
    padding-right: 10px;

    & ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 10px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      & li:hover {
      }
    }
  }
  .logo {
    font-size: 24px;
  }
}
