.header {
  background-color: #484283;
  color: #ffffff;
  // width: calc(100vw - 20px);
  // height: 90px;
  padding-top: 14px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  & > div {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -8px;
  }
  & ul {
    position: relative;
    left: -11px;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 33px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20.23px;
    & li:hover {
    }
  }
  & a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #c4c4c4;
      text-decoration: underline;
    }
  }
}

.line {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 43.35px;
  &:hover {
    cursor: pointer;
  }
}
.cartWrapper {
  display: flex;
  // align-items: center;
  // gap: 6px;
  // padding-left: 10px;
}
.cart {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: -5px;
  // position: relative;
  // margin-right: 6px;
  position: relative;
  left: 6px;
}

.bage {
  position: absolute;
  background-color: #f14f4f;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  right: -2px;
  bottom: -3px;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
