.wraper {
  display: grid;
  grid-template-columns: 520px 520px 1fr;
}
.mainImg {
  margin-bottom: 20px;
}
.secondaryImgs {
  display: flex;
  gap: 20px;
  & img {
    width: 70px;
    height: 75px;
    box-sizing: border-box;
    border-radius: 4px;
    &.active {
      border: 3px solid #c4c4c4;
    }
  }
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  margin-left: 43px;
  & ul {
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    padding: 0;

    color: #b2b5bb;
    & > li {
      margin-bottom: 20px;
      & > span {
        color: #444b58;
        margin-left: 10px;
      }
    }
  }
}
.subInfo {
  font-size: 16px;
  font-weight: 600;
  line-height: 23.12px;
  color: #b2b5bb;
  & > span {
    color: #444b58;
    margin-left: 10px;
  }
}
