.wraper {
  display: grid;
  grid-template-columns: 520px 520px 1fr;
}
.title {
  margin-top: 55px;
  font-size: 30px;
  font-weight: 700;
  line-height: 43.35px;
  text-align: left;
  color: #444b58;
}
.mainImg {
  margin-top: 30px;
  margin-bottom: 15px;
}
.secondaryImgs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 20px;

  & > li {
    & img {
      width: 70px;
      height: 75px;
      box-sizing: border-box;
      border-radius: 4px;
      &:hover {
        cursor: pointer;
      }
      &.active {
        border: 3px solid #c4c4c4;
      }
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 43px;
  & > h1 {
    padding-top: 12px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 50px;
  }
  & > ul {
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #b2b5bb;
    & li {
      margin-bottom: 28px;

      & > span {
        color: #444b58;
        margin-left: 10px;
      }
    }
    & > .price {
      margin-top: -1px;
    }
    & > .stock {
      margin-top: -2px;
    }
    & > .brand {
      margin-top: -1px;
    }
    & > .desc {
      & > span {
        margin-left: 5px;
      }
    }
  }
}
.rating {
  & > img {
    padding-right: 8px;
  }
}
.btn {
  margin-top: 39px;
}

.subInfo {
  font-size: 16px;
  font-weight: 600;
  line-height: 23.12px;
  color: #b2b5bb;
  margin-top: 35px;
  margin-left: 37px;
  & > span {
    color: #444b58;
    margin-left: 10px;
  }
}
