.btn {
  width: 48px;
  height: 48px;
  background-color: #f14f4f;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  // top: 2px;
  & img {
    width: 24px;
    height: 46px;
  }
  &:hover {
    cursor: pointer;
    background-color: #8c2828;
  }
}
