:root {
  font-family: Jost, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  box-sizing: border-box;
}

.container {
  width: 1181px;
  margin: 0 auto;
}

.notFound {
  height: calc(100vh - 173px);
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & img {
    width: 600px;
  }
}
