.counterWrapper {
  display: flex;
  align-items: top;
  position: relative;
  top: 2px;

  gap: 8px;
  & input {
    width: 62px;
    height: 48px;
    border: 0;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f6f6f6;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #444b58;
  }
}
